In [ ]:
import pandas as pd
import numpy as np
import snscrape.modules.twitter as snt
username=input()
to=input()
start=input()

def tweetss(userame,to,start):

    query="(from:{username}) until:{to} since:{start}".format(username=username,to=to,start=start)
    tweets=[]
    no_tweet=100
    for tweet in snt.TwitterSearchScraper(query).get_items():

        if len(tweets)==no_tweet:
            break
        tweets.append([tweet.date,tweet.id,tweet.content,tweet.user.username])
    df=pd.DataFrame(tweets,columns=['date','id','content','username'])    

    df.to_csv('tweet.csv')


tweetss(username,to,start)

#data preprocessing
#segmenter using the word statistics from Twitter

In [19]:
#data preprocessing
#segmenter using the word statistics from Twitter
import pandas as pd
df=pd.read_csv("/home/darik/Desktop/Dev/Scrape_master/tweet.csv")
df

,Unnamed: 0,date,id,content,username
0,0,2022-04-30 17:05:34+00:00,1520449291940024321,thank you @jimmyfallon for having me last nigh...,ShawnMendes
1,1,2022-04-29 20:05:59+00:00,1520132307536936961,Co-hosting &amp; performing ! https://t.co/n1V...,ShawnMendes
2,2,2022-04-29 13:03:51+00:00,1520026075798986754,https://t.co/mGqMPrUGym,ShawnMendes
3,3,2022-04-29 13:03:50+00:00,1520026070933594112,https://t.co/CCD58J4PTa,ShawnMendes
4,4,2022-04-29 13:03:49+00:00,1520026064927412224,https://t.co/PLSMeVTWiy,ShawnMendes
...,...,...,...,...,...
95,95,2021-10-26 17:57:51+00:00,1453058308412035073,The incredible @fantaratty4. Someone I love &a...,ShawnMendes
96,96,2021-10-23 22:35:58+00:00,1452041131454128130,"From ""A Wonder Concert &amp; Conversation"" ü§ç‚ö°Ô∏è...",ShawnMendes
97,97,2021-10-22 16:21:47+00:00,1451584578917834762,I'm so excited to be able to share this incred...,ShawnMendes
98,98,2021-10-21 22:03:42+00:00,1451308238666928133,Beyond grateful. I love you guys ‚ù§Ô∏è,ShawnMendes
99,99,2021-10-21 22:02:54+00:00,1451308034190422026,Ya I want it right now !! https://t.co/qyYVPufB4G,ShawnMendes

In [23]:
df.drop(columns = df.columns[0], axis = 1,inplace=True)

In [24]:
df

,date,id,content,username
0,2022-04-30 17:05:34+00:00,1520449291940024321,thank you @jimmyfallon for having me last nigh...,ShawnMendes
1,2022-04-29 20:05:59+00:00,1520132307536936961,Co-hosting &amp; performing ! https://t.co/n1V...,ShawnMendes
2,2022-04-29 13:03:51+00:00,1520026075798986754,https://t.co/mGqMPrUGym,ShawnMendes
3,2022-04-29 13:03:50+00:00,1520026070933594112,https://t.co/CCD58J4PTa,ShawnMendes
4,2022-04-29 13:03:49+00:00,1520026064927412224,https://t.co/PLSMeVTWiy,ShawnMendes
...,...,...,...,...
95,2021-10-26 17:57:51+00:00,1453058308412035073,The incredible @fantaratty4. Someone I love &a...,ShawnMendes
96,2021-10-23 22:35:58+00:00,1452041131454128130,"From ""A Wonder Concert &amp; Conversation"" ü§ç‚ö°Ô∏è...",ShawnMendes
97,2021-10-22 16:21:47+00:00,1451584578917834762,I'm so excited to be able to share this incred...,ShawnMendes
98,2021-10-21 22:03:42+00:00,1451308238666928133,Beyond grateful. I love you guys ‚ù§Ô∏è,ShawnMendes
99,2021-10-21 22:02:54+00:00,1451308034190422026,Ya I want it right now !! https://t.co/qyYVPufB4G,ShawnMendes

In [25]:
import nltk
from nltk import word_tokenize, FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
nltk.download
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.tokenize import TweetTokenizer
df= df.astype(str).str.replace('\d+', '')
lower_text = df.str.lower()

[nltk_data] Error loading wordnet: <urlopen error [Errno -3] Temporary
[nltk_data]     failure in name resolution>
[nltk_data] Error loading stopwords: <urlopen error [Errno -3]
[nltk_data]     Temporary failure in name resolution>

AttributeError: 'DataFrame' object has no attribute 'str'